<extend name="Public/base2" />

<block name="head">
    <script src="__JS__/jquery-2.0.3.min.js"></script>
</block>

<block name="body">
<div class="">
<div class="page-title">
    <div class="title_left">
        <h3>赛事/考核 <small>专业体育数据统计系统</small></h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="输入关键字">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">搜索</button>
                    </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row">



<div class="col-md-12">

<if condition="$nowContest">
    <div class="alert alert-success">
        <ul class="fa-ul">
            <li>
                <!--<i class="fa fa-info-circle fa-lg fa-li"></i><a class="alert-link">正在进行</a> <code>期末考</code>高三(2)班1500米考试.<span class="fa fa-sign-in right"></span>-->
                <i class="fa fa-info-circle fa-lg fa-li"></i><a class="alert-link">正在进行</a> {$nowContest.title}.<span class="fa fa-sign-in right"></span>
            </li>
        </ul>
    </div>
    <else/>
</if>

<if condition="$conflictContest">
    <div class="alert alert-danger">
        <ul class="fa-ul">
            <volist name="conflictContest" id="vo" key="k">
                <li>
                    <!--<i class="fa fa-info-circle fa-lg fa-li"></i><a class="alert-link">时间冲突</a> <code>期末考</code>高三(2)班1500米考试.<span class="fa fa-sign-in right"></span>-->
                    <i class="fa fa-info-circle fa-lg fa-li"></i><a class="alert-link">时间冲突</a> {$vo.title}.<span class="fa fa-sign-in right"></span>
                </li>
            </volist>
        </ul>
    </div>
    <else/>
</if>

<if condition="$soonContest">
        <volist name="soonContest" id="vo" key="k">
            <div class="alert alert-warning">
                <h4><i class="fa fa-warning"></i>{$vo.begin_time|date="Y-m-d H:i:s",###}</h4> <a class="alert-link">即将开始 </a>{$vo.title}.
                <span class="fa fa-sign-in right"></span>
            </div>
        </volist>
    <else/>
</if>


<!--<div class="alert alert-warning">-->
    <!--<h4><i class="fa fa-warning"></i>20170805 9:30</h4> <a class="alert-link">即将开始</a><code>期末考</code>高三(3)班1000米考试.-->
    <!--<span class="fa fa-sign-in right"></span>-->
<!--</div>-->
<!--<div class="alert alert-warning">-->
    <!--<h4><i class="fa fa-warning"></i>20170805 15:00</h4> <a class="alert-link">即将开始</a><code>活动</code>城市马拉松海选.-->
    <!--<span class="fa fa-sign-in right"></span>-->
<!--</div>-->

<!--<div class="col-md-6 col-sm-6 col-xs-12">-->
<div class="x_panel">
<div class="x_title">
    <h2><i class="fa fa-bars"></i> 操作台 <small>创建新的日程项目</small></h2>
    <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
            </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="x_content">


<div class="" role="tabpanel" data-example-id="togglable-tabs">
<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">新建考核</a>
    </li>
    <!--<li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">新建补考</a>
    </li>-->
    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">新建报名</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
    <p>新建一次考核,请详细填写信息以便数据管理.</p>
    <div class="col-md-6 col-xs-12">
        <form class="form-horizontal form-label-left input_mask" action="{:U('add')}" method="post">

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" name="length_male" value="{$contestInfo['length_male']}" class="form-control has-feedback-left"  placeholder="男生考核内容">
                <span class="fa fa-male form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <!--<input type="text" class="form-control has-feedback-left" id="inputSuccess3" placeholder="Last Name">-->
                <input type="text" name="pass_score_male" value="{$contestInfo['pass_score_male']}" class="form-control has-feedback-left" data-inputmask="'mask': '99-99'" placeholder="男生合格成绩:分钟-秒钟">
                <span class="fa fa-male form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" name="length_female" value="{$contestInfo['length_female']}" class="form-control has-feedback-left"  placeholder="女生考核内容">
                <span class="fa fa-female form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" name="pass_score_female" value="{$contestInfo['pass_score_female']}" class="form-control has-feedback-left" data-inputmask="'mask': '99-99'" placeholder="女生合格成绩:分钟-秒钟">
                <span class="fa fa-female form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">标题</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" name="title" value="{$contestInfo['title']}" class="form-control" placeholder="本次考核显示的标题">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">考核时间 </label>
                <div class="col-md-9 col-sm-9 col-xs-12 ">
                    <!--<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>-->
                    <input type="text" name="reservation-time" id="reservation-time2" class="form-control has-feedback-left" value="{$contestInfo['reservation-time']}" />
                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">考核描述 <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input name="content" value="{$contestInfo['content']}" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <!--<button type="button" class="btn btn-primary">Cancel</button>-->
                    <!--<button class="btn btn-primary" type="reset">重置</button>-->
                    <!--<button type="submit" class="btn btn-success">下一步</button>-->
                    <input type="reset" value="重置" class="btn btn-primary">

                    <if condition="$contestInfo['contest_sn']">
                        <input type="hidden" value="{$contestInfo['contest_sn']}" name="contest_sn" />
                        <input type="submit" value="确认修改" class="btn btn-success">
                        <else />
                        <input type="submit" value="下一步" class="btn btn-success">
                    </if>

                </div>
            </div>

        </form>
    </div>

    <div class="col-md-6 col-xs-12">




        <!--<div class="bs-example" data-example-id="simple-jumbotron">-->
        <div class="jumbotron">
            <h3>温馨提示!</h3>
            <p>1.考试内容若不分男女生,需填写相同内容;</p>
            <p>2.下一步选择名单;</p>
            <!--<ul class="margin-bottom-none padding-left-lg">
                <li>All brand icons are trademarks of their respective owners.</li>
                <li>The use of these trademarks does not indicate endorsement of the trademark holder by Font Awesome, nor vice versa.</li>
              </ul>-->
        </div>
        <!--</div>-->



    </div>
</div>

<div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
    <!--***************-->
    <div class="col-md-6 col-xs-12">
        <form class="form-horizontal form-label-left input_mask">
            <p>活动信息及报名制度</p>


            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">活动名称</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" placeholder="为本次活动设置标题">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">活动时间 </label>
                <div class="col-md-9 col-sm-9 col-xs-12 ">
                    <input type="text" name="reservation-time" id="reservation-time" class="form-control has-feedback-left" value="01/01/2017 - 01/01/2017" />
                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">人数上限</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" placeholder="无人数限制不填写此项">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">活动描述 <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
                </div>
            </div>
            <!--<div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                 <button class="btn btn-primary" type="reset">重置</button>
                <button type="submit" class="btn btn-success">确定</button>
              </div>
            </div>-->

        </form>
    </div>

    <div class="col-md-6 col-xs-12">
        <form class="form-horizontal form-label-left input_mask">
            <p>活动奖励制度</p>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="男生考核内容">
                <span class="fa fa-male form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <!--<input type="text" class="form-control has-feedback-left" id="inputSuccess3" placeholder="Last Name">-->
                <input type="text" class="form-control has-feedback-left" data-inputmask="'mask': '99-99'" placeholder="男生合格成绩:分钟-秒钟">
                <span class="fa fa-male form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="女生考核内容">
                <span class="fa fa-female form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" data-inputmask="'mask': '99-99'" placeholder="女生合格成绩:分钟-秒钟">
                <span class="fa fa-female form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">设置奖项</label>
                <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                    <input type="text" placeholder="奖项" class="form-control">
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                    <input type="text" placeholder="数量" class="form-control">
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                    <input type="text" placeholder="奖品" class="form-control">
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12 form-group">
                    <button type="button" class="btn btn-primary">添加</button>
                </div>

            </div>


            <div class="form-group panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>编辑</th>
                        <th>奖项</th>
                        <th>数量</th>
                        <th>奖品</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"><i class="fa fa-pencil-square-o"></i>1</th>
                        <td>一等奖</td>
                        <td>1</td>
                        <td>运动手环</td>
                    </tr>
                    <tr>
                        <th scope="row"><i class="fa fa-pencil-square-o"></i>2</th>
                        <td>二等奖</td>
                        <td>5</td>
                        <td>蓝牙耳机</td>
                    </tr>
                    <tr>
                        <th scope="row"><i class="fa fa-pencil-square-o"></i>3</th>
                        <td>三等奖</td>
                        <td>10</td>
                        <td>运动鞋</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="reset">重置</button>
                    <button type="submit" class="btn btn-success">创建</button>
                </div>
            </div>
        </form>
    </div>


</div>
</div>
</div>

</div>
</div>
<!--</div>-->

<div class="x_panel">
<div class="x_title">
    <h2>Projects</h2>
    <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
            </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="x_content">

<p>Simple table with project listing with progress and editing options</p>

<!-- start project list -->
<table class="table table-striped projects">
<thead>
<tr>
    <!--<th style="width: 1%">#</th>-->
    <th style="width: 20%">标题</th>
    <th style="width: 40%">人数</th>
    <th style="width: 10%">操作</th>
    <th>管理</th>
    <th>状态</th>
    <!--<th style="width: 20%">#Edit</th>-->
</tr>
</thead>
<tbody>
<notempty name="_list">
    <volist name="_list" id="vo" key="k">
        <tr>
            <!--<td>#</td>-->
            <td>
                <a>{$vo.title}</a>
                <br />
                <small>{$vo.begin_time|date="ymd H:i:s",###}</small>
            </td>

            <td class="project_progress">
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{$vo.count}"></div>
                </div>
                <!--<small>57% Complete</small>-->
                <small>{$vo.count}/{$vo.count}</small>
            </td>
            <td>
                <!--<button type="button" onclick="beginContest({$vo['contest_sn']})" class="btn btn-success btn-xs">开始</button>-->
                <if condition="$vo['flag'] eq 未开始">
                    <button type="button" onclick="beginContest({$vo['contest_sn']})" class="btn btn-success btn-xs">开始</button>
                    <else/>
                    <button type="button" class="btn1 btn-success btn-xs" style="background-color:lightslategrey">开始</button>
                </if>
            </td>
            <td>
                <a href="{:U('info',array('contest_sn'=>$vo['contest_sn']))}" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> 名单 </a>
                <a href="{:U('index',array('contest_sn'=>$vo['contest_sn'],'type'=>'edit'))}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> 编辑 </a>
                <a href="{:U('index',array('contest_sn'=>$vo['contest_sn'],'type'=>'delete'))}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除 </a>
            </td>
            <if condition="$vo['flag'] eq 已过期"><td style="color: red">{$vo.flag}</td>
                <elseif condition="$vo['flag'] eq 未开始" /><td style="color: #003399">{$vo.flag}</td>
                <else/><td style="color: #0000FF">{$vo.flag}</td>
            </if>

        </tr>
    </volist>
    <else/>
    <td colspan="11" class="text-center"> aOh! 暂时还没有内容! </td>
</notempty>
</tbody>
</table>
<!-- end project list -->

</div>
</div>
</div>
</div>
</div>
</block>

<block name="script">

    <script type="text/javascript">
        $(document).ready(function(){
            $(".btn1").attr("disabled", true);
        });
        function beginContest(sn)
        {
            var url = "{:U('sign')}";
            url = url.replace(/.html/, "");
            location.href = url+"/contest_sn/"+sn;//location.href实现客户端页面的跳转
        }
    </script>
</block>


