<extend name="Public/base" />

<block name="body">
    <div class="main">
        <div class="main-title" style="margin-left: 60px">
            <h2>考试、赛事</h2>
        </div>
        <a style="margin-left: 60px" href="{:U('add')}">创建一场考试</a>

        <div style="margin-left: 60px;margin-top: 10px">
            <div style="float: left"><button onclick="contest('all')">全部赛事</button></div>
            <div style="float: left"><button onclick="contest('unfinished')">未开始的赛事</button></div>
            <div style="float: left"><button onclick="contest('finished')">已完成的赛事</button></div>
        </div>

        <!-- 数据列表 -->
        <div class="data-table table-striped">
            <table class="" style="clear:both;height:0;width:0;border-collapse:separate; border-spacing:60px 10px;">
                <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">UID</th>
                    <th class="">赛事编号</th>
                    <th class="">赛事标题</th>
                    <th class="">赛事描述</th>
                    <th class="">创建时间</th>
                    <th class="">比赛开始时间</th>
                    <th class="">比赛结束时间</th>
                    <th class="">赛事规格</th>
                    <th class="">创建者</th>
                    <th class="">人员名单</th>
                </tr>
                </thead>

                <tbody>
                <notempty name="_list">
                    <volist name="_list" id="vo">
                        <tr>
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
                            <td>{$vo.contest_id} </td>
                            <td>{$vo.contest_sn}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.desc}</td>
                            <td>{$vo.add_time|date="Y-m-d H:i:s",###}</td>
                            <td>{$vo.begin_time|date="Y-m-d H:i:s",###}</td>
                            <td>{$vo.end_time|date="Y-m-d H:i:s",###}</td>
                            <td>{$vo.length} m</td>
                            <td>{$vo.from_name}</td>
                            <!--<td><a href="#" style="color: #0000C0">人员名单</a></td>-->
                            <td><a href="{:U('info',array('contest_sn'=>$vo['contest_sn']))}" style="color: #0000C0">人员名单</a></td>
                            <!--<td>{$vo['is_show']?'正常':'禁用'}</td>-->
                            <!--<td>{$vo['count']}<a href="">查看详情</a></td>-->
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="11" class="text-center"> aOh! 暂时还没有内容! </td>
                </notempty>
                </tbody>

            </table>
        </div>


    </div>
</block>

<block name="script">
    <script type="text/javascript">
        function contest(type)
        {
            var contestUrl = "{:U('')}"; // merchant.js 中使用
            var url = contestUrl.replace(/.html/, "");
            location.href = url+"/type/"+type;//location.href实现客户端页面的跳转
        }
    </script>
</block>




