<extend name="Public/base_agent" />

<block name="body">
    <div class="main">
        <div class="main-title">
            <h3>供应商预计处理时间</h3>
        </div>
        <span>工单号：{$data.order_sn}</span><br/>
        <span>客户描述：{$data.customer_desc}</span><br/>

        <div>
            <form id="formid"  name= "myform" method = 'post'  action = '__URL__/deal'>

                <input type="hidden" name="id" value="{$data.id}">
                <h4>预计处理时间</h4>
                <div>
                    <textarea rows="3" cols="20" name="desc">
                    </textarea>
                </div>
                <input type="submit" value="接受工单处理"   />
            </form>
        </div>


    </div>
</block>

<block name="script">

</block>




