<extend name="Public/base" />

<block name="body">
    <div class="main">
        <div style="margin-left: 60px">
            <h2>设备管理</h2>
        </div>
        <table class="" style="border-collapse:separate; border-spacing:60px 10px;">
            <thead>
                <tr>
                    <!--<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>-->
                    <th class="">设备编码</th>
                    <th class="">运行状态</th>
                    <th class="">开机时间</th>
                    <th class="">下一个机器</th>
                    <th class="">上个机器有效时间</th>
                    <th class="">故障报销</th>
                </tr>
            </thead>
            <tbody>
            <notempty name="device">
                <volist name="device" id="vo">
                    <tr>
                        <td>{$vo.ms_code} </td>
                        <td>{$vo.status}</td>
                        <td>{$vo.add_time|date="Y-m-d H:m:s",###}</td>
                        <td>{$vo.next_ms_code}</td>
                        <td>{$vo.last_expire_time}</td>
                        <td>故障报销</td>
                    </tr>
                </volist>
                <else/>
                <td colspan="11" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>


        <br/><br/><br/><br/>
        <div style="margin-left: 60px">
            <span>待处理的工单</span>&nbsp&nbsp&nbsp&nbsp <span>处理中的工单</span>&nbsp&nbsp&nbsp&nbsp
            <span>处理完成的工单</span>&nbsp&nbsp&nbsp&nbsp<span>确认完成的工单</span>
        </div>

        <!-- 数据列表 -->
        <div class="data-table table-striped">
            <table class="" style="border-collapse:separate; border-spacing:60px 10px;">
                <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">UID</th>
                    <th class="">工单号</th>
                    <th class="">客户描述</th>
                    <th class="">生成时间</th>
                </tr>
                </thead>

                <tbody>
                <notempty name="_list">
                    <volist name="_list" id="vo">
                        <tr>
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
                            <td>{$vo.id} </td>
                            <td>{$vo.order_sn}</td>
                            <td>{$vo.customer_desc}</td>
                            <td>{$vo.add_time|date="Y-m-d H:m:s",###}</td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="11" class="text-center"> aOh! 暂时还没有内容! </td>
                </notempty>
                </tbody>

            </table>
        </div>
        <!--<a href="{:U('customer/report')}" style="color: #660000">障碍报修</a><br/>-->

    </div>

</block>

<block name="script">

</block>




