<extend name="Public/base" />

<block name="body">
    <div class="main">
        <div class="main-title" style="margin-left: 60px">
            <h2>成绩管理</h2>
        </div>
        <form action="{:U('score')}" method="post">
            <div style="margin-left: 60px;margin-top: 10px">
                <div style="float: left">
                    <!--<select name="sectionid">系别</select>-->
                    <select name="dept" id="sectionid"></select>
                </div>
                <div style="margin-left: 10px;float: left">
                    <!--<select>班级</select>-->
                    <select name="class" id="catid"></select>
                </div>

                <div style="margin-left: 10px;float: left">
                    <input type="submit" value="查询">
                </div>
            </div>
        </form>
        <!-- 数据列表 -->
        <div class="data-table table-striped">
            <!--<table class="" style="border-collapse:separate; border-spacing:60px 10px;">-->
            <table class=""  style="clear:both;height:0;width:0;border-collapse:separate; border-spacing:60px 10px;">
                <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">学生姓名</th>
                    <th class="">所在系别</th>
                    <th class="">所在班级</th>
                    <th class="">耗时时间</th>
                    <th class="">完成时间</th>
                    <th class="">性别</th>
                </tr>
                </thead>

                <tbody>
                <notempty name="_list">
                    <volist name="_list" id="vo" key="k">
                        <tr>
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
                            <td>{$vo.nick} </td>
                            <td>{$vo.dept}</td>
                            <td>{$vo.class}</td>
                            <td>{$vo.time}</td>
                            <td>{$vo.add_time|date="Y-m-d H:m:s",###}</td>
                            <td>{$vo.sex}</td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="11" class="text-center"> aOh! 暂时还没有内容! </td>
                </notempty>
                </tbody>

            </table>
        </div>

    </div>
</block>

<block name="script">
    <script type="text/javascript">
        var ajaxurldept = "{:U('getSection')}"; // merchant.js 中使用
        var ajaxurlclass = "{:U('getCatid')}"; // merchant.js 中使用
    </script>
    <script src="__JS__/linkage.js"></script>
</block>