<extend name="Public/base2" />

<block name="head">
    <script src="__JS__/jquery-2.0.3.min.js"></script>
    <script src="__JS__/linkage.js"></script>
    <script src="__JS__/rank.js"></script>
</block>

<block name="body">

    <div class="page-title">
        <div class="title_left">
            <h3>排行榜</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入关键字">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">搜索</button>
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
    <div class="x_title">
        <h2>实时排名 <small>实时排名监控</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">

    <p>刷新 可查看最新排名。</p>
    <div id="year2">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation"><a>年份：</a>
            </li>
            <li role="presentation"><a>2017</a>
            </li>
            <li role="presentation"><a>2018</a>
            </li>
        </ul>
    </div>

    <div id="month2">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation"><a>月排行榜：</a>
            </li>
            <volist name="month" id="vo" key="k">
                <li role="presentation"><a>{$vo}</a>
                </li>
            </volist>
        </ul>
    </div>

    <div id="week2">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation"><a>周排行榜：</a>
            </li>
            <volist name="week" id="vo" key="k">
                <li role="presentation"><a>{$vo}</a>
                </li>
            </volist>
        </ul>
    </div>
    <div id="length">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation"><a>田径：</a>
            </li>
            <li role="presentation"><a>400</a>
            </li>
            <li role="presentation"><a>800</a>
            </li>
            <li role="presentation"><a>1200</a>
            </li>
            <li role="presentation"><a>1600</a>
            </li>
            <li role="presentation"><a>2000</a>
            </li>
        </ul>
    </div>
    <div id="single2">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation"><a>单圈历史最佳</a>
            </li>
        </ul>
    </div>
    <div id="marathon2">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation"><a>马拉松排行榜：</a>
            </li>
            <li role="presentation"><a>四分之一马拉松</a>
            </li>
            <li role="presentation"><a>二分之一马拉松</a>
            </li>
            <li role="presentation"><a>全程马拉松</a>
            </li>
        </ul>
    </div>


    <!--筛选的条件-->
    <div id="selectCondition">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation"><a>搜索</a>
            </li>
        </ul>
    </div>

    <!--<ul class="nav nav-pills" role="tablist">-->
        <!--<li role="presentation"><a>排行筛选：</a>-->
        <!--</li>-->

        <!--<li role="presentation" class="dropdown">-->
            <!--<a  href="{:U('index',array('flag'=>'single'))}" class="dropdown-toggle">-->
               <!--单圈最佳排行-->
            <!--</a>-->
        <!--</li>-->

        <!--&lt;!&ndash;系别&ndash;&gt;-->
        <!--<li role="presentation" class="dropdown">-->
            <!--<a  href="#" class="dropdown-toggle">-->
                    <!--<select id="week" name="cycles" style="border:none;">-->
                        <!--&lt;!&ndash;<OPTGROUP LABEL="周排行">&ndash;&gt;-->
                        <!--<option>周排行</option>-->
                        <!--<option>1圈</option>-->
                        <!--<option>2圈</option>-->
                        <!--<option>3圈</option>-->
                        <!--<option>4圈</option>-->
                        <!--<option>5圈</option>-->
                    <!--</select>-->
            <!--</a>-->
        <!--</li>-->

        <!--<li role="presentation" class="dropdown">-->
            <!--<a  href="#" class="dropdown-toggle">-->
                <!--<select id="month"  name="cycles" style="border:none;">-->
                    <!--&lt;!&ndash;<OPTGROUP LABEL="周排行">&ndash;&gt;-->
                    <!--<option>月排行</option>-->
                    <!--<option>1圈</option>-->
                    <!--<option>2圈</option>-->
                    <!--<option>3圈</option>-->
                    <!--<option>4圈</option>-->
                    <!--<option>5圈</option>-->
                <!--</select>-->

            <!--</a>-->
        <!--</li>-->

        <!--<li role="presentation" class="dropdown">-->
            <!--<a  href="#" class="dropdown-toggle">-->
                <!--<select id="year" name="cycles" style="border:none;">-->
                    <!--&lt;!&ndash;<OPTGROUP LABEL="周排行">&ndash;&gt;-->
                    <!--<option>年排行</option>-->
                    <!--<option>1圈</option>-->
                    <!--<option>2圈</option>-->
                    <!--<option>3圈</option>-->
                    <!--<option>4圈</option>-->
                    <!--<option>5圈</option>-->
                <!--</select>-->

            <!--</a>-->
        <!--</li>-->

        <!--<li role="presentation" class="dropdown">-->
            <!--<a  href="#" class="dropdown-toggle">-->
                <!--<select id="marathon" name="cycles" style="border:none;">-->
                    <!--&lt;!&ndash;<OPTGROUP LABEL="周排行">&ndash;&gt;-->
                    <!--<option>马拉松排行</option>-->
                    <!--<option>四分之一程马拉松</option>-->
                    <!--<option>半程马拉松</option>-->
                    <!--<option>全程马拉松</option>-->
                <!--</select>-->
            <!--</a>-->
        <!--</li>-->

    <!--</ul>-->

    <!--<ul class="nav nav-pills" role="tablist">-->
        <!--<li role="presentation"><a>已选排行：</a>-->
        <!--</li>-->
        <!--<li role="presentation" class="dropdown" >-->
            <!--<a class="dropdown-toggle">-->
               <!--<span style="color: red">{$rankName}  排行榜</span>-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->

    <!-- start project list -->
    <div class="table-responsive">
        <table class="table table-striped projects" id="rank_table">
            <thead>
            <tr>
                <th class="">姓名</th>
                <th class="">学号</th>
                <th class="">系别</th>
                <th class="">年级</th>
                <th class="">班级</th>
                <th class="">用时(秒)</th>
                <th class="">完成时间</th>
                <th class="">比赛名次</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
            <!-- end project list -->
    </div>

    </div>

    </div>
    </div>
    </div>
    </div>

</block>

<block name="script">
    <script type="text/javascript">
        var rankUrl = "{:U('index')}"; // merchant.js 中使用
        var getRank = "{:U('getRank')}";

    </script>
</block>